
$fullhd: 1200px + (2 * $gap);
$section-padding-desktop: 3rem 0;

//colors
$black-light: #3f3f3f;
$grey-light: #817b7b;


//font-family
$family-primary: 'Permanent Marker', cursive;
$family-secundary: 'Open Sans', sans-serif;

//line-height
$line-height1: 35px;
$line-height2: 80px;

//font-size
$is-size-1: 60px;
$is-size-2: 20px;
$is-size-3: 18px;
